:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    user-select: none;
}

#welcome:hover {
    filter: drop-shadow(0 0 2rem #c01f44);
}
#titlebar-close:hover {
    background: #c01f44;
}
.titlebar {
    border: #171717 1px solid;
    font-family: Consolas, serif;
    height: 30px;
    background: #383737;
    user-select: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-buttons {
    justify-content: flex-end;
    user-select: none;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-name-left {
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    font-size: .9em;
    font-weight: 500;
    color: #ffffff;
    padding-left: 10px;
    height: 2px;
    width: 100%;
    text-shadow: 1px 1px 0 #000000;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.titlebar-button:hover {
    background: rgba(232, 229, 229, 0.46);
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#welcome {
    transition: 500ms;
    text-shadow: 2px 2px 0 #000000;
}

.inject {
    margin: 5px
}

.container {
    padding-top: 10vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}


.logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}

.row {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.selector {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    text-align: center;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

input,
button {
    outline: none;
}

#injection {
    margin: 5px 5px 5px 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #212121;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }
}
